@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  background-color: #020617;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

/* Custom styles for Leaflet popups */
.leaflet-popup-content-wrapper {
  @apply bg-slate-900 text-slate-100 rounded-xl border border-slate-700 shadow-2xl;
}

.leaflet-popup-tip {
  @apply bg-slate-800;
}
